<form class="form-inline" role="form">
    <div>
        <label>PDFs</label>
    </div>
    <div class="padding-bottom" ng-repeat="pdf in config.pdfs">
        <div class="form-group">
            <label class="sr-only" for="title-{{$index}}">Título</label>
            <input type="text" id="title-{{$index}}" class="form-control" placeholder="Título" ng-model="pdf.title" required="">
        </div>
        <div class="form-group">
            <label class="sr-only" for="href-{{$index}}">URL</label>
            <input type="url" id="href-{{$index}}" class="form-control" placeholder="http://example.com" ng-model="pdf.href" required="">
        </div>
        <button type="button" class="btn btn-warning" ng-click="removeLink($index)">
            <i class="fa fa-minus"></i> Remover
        </button>
    </div>
    <button type="button" class="btn btn-primary" ng-click="addLink()">
        <i class="fa fa-plus"></i> Adicionar
    </button>
</form>